.UpButton {
    position: fixed;
    right: 70px;
    bottom: 10%;
    width: 40px;
    height: 40px;

}
.arrow {
    border: solid rgba(31, 71, 82, 0.3);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
}
.up {
    transform: rotate(-135deg);
}